<div class='container profile'>
    <div class='row'>
        <div class='col-8'>
            <h1><%= user.name %>'s Tripply Page</h1>
        </div>

<form action="/users/profile/edit">
    <button type="submit" id="update">Edit Profile</button>
</form>

        <div class='col-4'>
            <button class='new-trip-button'>
                <h3>Create a new trip</h3>                
            </button>
        </div>
    </div>
    <div class='row trip'>
        <% trips.forEach(function(t) { %>
                <div class='col-4 trip-name'>
                    <h6> Trip Name: <a href="/trips/<%= t._id %>"><%= t.name %></a> </h6>
                </div>
                <div class='col-4 trip-loc'>
                    <h6> Location: <%= t.locale %> </h6>
                </div>
                <div class='col-3 trip-des'>
                    <p>Description: <%= t.description %></p>
                </div>
                <div class='col-1 trip-button'>
                    <button>
                        <p>...</p>
                    </button>
                </div>
        <% }) %> 
    </div>
  
