<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/weather.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <% if(weather !== null){ %>
          <p>Forecast for <%= weather.name%></p>
          <p>Humidity: <%= weather.main.humidity %></p>
          <p>Min Temp: <%= weather.main.temp_min %></p>
          <p>Max Temp: <%= weather.main.temp_max %></p>
          <p>Wind: <%= weather.wind.speed %></p>
          
        <% } %>
        <!-- { id: 'Los Angeles' }
        { coord: { lon: -118.24, lat: 34.05 },
          weather: [ { id: 721, main: 'Haze', description: 'haze', icon: '50d' } ],
          base: 'stations',
          main: 
           { temp: 72.21,
             pressure: 1011,
             humidity: 68,
             temp_min: 69.8,
             temp_max: 75.2 },
          visibility: 14484,
          wind: { speed: 3.36 },
          clouds: { all: 1 },
          dt: 1508457480,
          sys: 
           { type: 1,
             id: 416,
             message: 0.005,
             country: 'US',
             sunrise: 1508508147,
             sunset: 1508548340 },
          id: 5368361,
          name: 'Los Angeles',
          cod: 200 } -->
      </fieldset>
    </div>
    <script>
      
    </script>


  </body>
</html>