<div class="container">
<h1>Edit <%= trip.name %></h1>



<div class="jumbotron">
    <form method="post" action='/trips/<%= trip._id %>?_method=PATCH'>
      <div class="form-row">
          <div class="form-group col-md-6">
                  <label for="exampleFormControlInput1">Name</label>
                  <input type="name" name="name" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" value="<%= trip.name %>" placeholder="Enter Name">
                 
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">Locale</label>
                    <input type="name" name="locale" class="form-control" id="exampleInputEmail1" value="<%= trip.locale %>" placeholder="Enter Locale">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">Start Date</label>
                    <input type="name" name="start-date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= trip.startDate %>" placeholder="Enter Start Darte">
                   
                  </div>
                  <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">End Date</label>
                    <input type="name" name="end-date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= trip.endDate %>" placeholder="Enter End Date">
                   
                  </div>
                 
                  <div class="form-group col-md-6">
                          <label for="exampleFormControlTextarea1">Description</label>
                          <input class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" value="<%= trip.description %>" placeholder="Enter Description"></input>
                        </div>
      </div> 
                <button type="submit" class="btn btn-primary">Update</button>
    
    </form>
  
</br>
    <form method="post" action="/trips/<%= trip._id %>?_method=DELETE">
        <button type="submit" class="btn btn-danger" id="delete">Delete Trip</button>
    </form>
  </div>

  </div>