<div class='container trip-page'>
    <div class='row'>
        <div class='col-8'>
            <h1><%= trip.name %></h1>
        </div>
        <div class='col-8'>
        <a class='btn btn-info' href='/trips/<%= trip._id %>/edit'>Edit Trip</a>
        </div>
    <div class='col-4'>
        <button class='new-activity-button'>
            <h3>Add Activity</h3>                
        </button>
    </div>
    
</div>
<!-- need to change the below section to be a div for each DAY
In that day we want to see the name of each activity with the time (as list items)
And a button that displays a modal of the activity details on click -->
<div class='row day'>
    <% activities.forEach(function(a) { %>
    <div class='col-12'>
        <h3>Date: <%= a.date %></h3>
    </div>
    <div class='row activities'>
        <div class='col-4 activity-name'>
            <h6>Place: <%= a.place %></h6>
        </div>
        <div class='col-4 activity-time'>
            <h6>Time: <%= a.time %></h6>
        </div>
        <div class='col-2'>
            <h6>Description <%= a.description %></h6>
        </div>
        <div class='col-1'>
            <!-- assign id to button based on objects db id to use in ajax request -->
            <button id="<%= a._id %>" class="activity-button">See Details</button>
        </div>
    </div>
    <% }) %>
</div>

<form action="/users/profile/edit">
<button type="submit" id="update">Edit Profile</button>
</form>	
</div>

<div class="modal fade" id="newActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Activity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="new-activity-form">
                    <div class="form-group">
                        <label for="name">Place</label>
                        <input type="text" class="form-control" name="place">
                    </div>
                    <div class="form-group">
                        <label for="length">Date</label>
                        <input type="number" class="form-control" name="date">
                    </div>
                    <div class="form-group">
                        <label for="local">Time</label>
                        <input type="text" class="form-control" name="time">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="textarea" class="form-control" name="description">
                    </div>
                    <button id="add-activity" type="submit" class="btn btn-primary">Add Activity</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activityModalLabel">Activity Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section id="activityPlace"> Place: </section>
                <section id="activityDate"> Date: </section>
                <section id="activityTime"> Time: </section>
                <section id="activityDescription"> Description: </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
        
<script>
// variable set
    var $activityButton = $('.activity-button')
    var $newActivityBtn = $('.new-activity-button')
// activity show stuff
    // activity detail click function
    $activityButton.on('click', function() {
        var activityId = $(this).attr('id')
        console.log($(this).attr('id'))
        // show modal on click
        $('#activityModal').modal()
        // use ajax to populate the modal with data from the route specified
        $.ajax({
            // create url by concatenating activityId 
            url: '/trips/<%= trip._id %>/activities/' + activityId,
            method: 'get'
        })
        .done((res) => { 
            $('#activityPlace').text('Place: ' + res.place)
            $('#activityDate').text('Date: ' + res.date)
            $('#activityTime').text('Time: ' + res.time)
            $('#activityDescription').text('Description: ' + res.description)
        })
    })
// NEW ACTIVITY STUFF
    $newActivityBtn.on('click', function() {
        $('#newActivityModal').modal()
    })
    var $newActivityForm = $('#new-activity-form')
    //on click ajax post request 
    $newActivityForm.on('submit', (evt) => {
        evt.preventDefault()
    var formData = {
        "place": $('input[name=place').val(),
        "date": $('input[name=date').val(),
        "time": $('input[name=time').val(),
        "description": $('input[name=description').val()
    }
    $.ajax({
        url: '/trips/<%= trip._id %>/activity',
        method: 'POST',
        data: JSON.stringify(formData),
        contentType: 'application/json'
    })
    .done((data) => {
        console.log(data)
        //after activity is saved, make new ajax request to get all trip activities
        //receive the response, console log it to make sure itsright
        //in callback of results, call a function that appends results where they shoud be
        $.ajax({
            url: '/trips/<%= trip._id %>/activity',
            method: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json'
        })
        $('#newActivityModal').modal('hide')
    })
})

/*function popActivity(activity) {
    console.log(act)
    actList.html('')
    activity.forEach(a => {
        var deletBtn = $('<button>').text('X').addClass('delete')
        var theLi = $('<li>').text(a.place, ).attr('id', a.id)
            theLi.append(deletBtn)
            actList.append(theLi)
        })
    }

$('body').on('click', '.delete', function() {
    var act = $(this).parent()
    var actId = act.attr('id')
    console.log(itemId)
    $.ajax({url:`/trips/activities/${actId}`, method: 'DELETE',
        })
            .done((res) => {
             popActivity(res)
        })
    })*/
</script>

