<div class='container trip-page'>
    <div class='row'>
        <div class='col-6'>
            <h1><%= trip.name %></h1>
        </div>
        <div class='col-2'>
            <a class='btn btn-info' href='/trips/<%= trip._id %>/edit'>Edit Trip</a>
        </div>
        <div class='col-2'>
            <button class='btn btn-primary new-activity-button'>Add Activity-M</button>
        </div>
        <div class='col-2'>
            <button id="new-activity-yelp" class='btn btn-primary'>Add Activity-Y</button>
        </div>
    </div>
<!-- need to change the below section to be a div for each DAY
In that day we want to see the name of each activity with the time (as list items)
And a button that displays a modal of the activity details on click -->
<div class='row day'>
    <% activities.forEach(function(a) { %>
    <div class='col-12'>
        <h3><%= a.date %></h3>
    </div>
    <div class='row activities'>
        <div class='col-4 activity-name'>
            <h6><%= a.place %></h6>
        </div>
        <div class='col-4 activity-time'>
            <h6><%= a.time %></h6>
        </div>
        <div class='col-2'>
            <h6><%= a.description %></h6>
        </div>
        <div class='col-1'>
            <!-- assign id to button based on objects db id to use in ajax request -->
            <button id="<%= a._id %>" class="activity-button">See Details</button>
        </div>
    </div>
    <% }) %>
</div>

<!-- <form action="/users/profile/edit">
<button type="submit" id="update">Edit Profile</button>
</form>	
</div> -->

<!-- MANUALLY ADD ACTIVITY MODAL --> 
    <div class="modal fade" id="newActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="new-activity-form">
                        <div class="form-group">
                            <label for="name">Place</label>
                            <input type="text" class="form-control" name="place">
                        </div>
                        <div class="form-group">
                            <label for="length">Date</label>
                            <input type="number" class="form-control" name="date">
                        </div>
                        <div class="form-group">
                            <label for="local">Time</label>
                            <input type="text" class="form-control" name="time">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="textarea" class="form-control" name="description">
                        </div>
                        <button id="add-activity" type="submit" class="btn btn-primary">Add Activity</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- YELP ADD ACTIVITY MODAL -->
    <div class="modal fade" id="yelpActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="yelp-activity-form">
                    <div class="form-group">
                        <label for="name">Search Term</label>
                        <input type="text" class="form-control" name="term">
                    </div>
    
                    <div class="form-group">
                        <label for="local">Location</label>
                        <input type="text" class="form-control" name="location">
                    </div>

                    <button id="search" type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
                <div class="results">
                    <ul id="search-res"></ul>   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

<!-- ACTIVITY VIEW MODAL -->
    <div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activityModalLabel">Activity Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <section id="activityPlace"> Place: </section>
                    <section id="activityDate"> Date: </section>
                    <section id="activityTime"> Time: </section>
                    <section id="activityDescription"> Description: </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<script>
//ACTIVITY VIEW
    // variable set
        var $activityButton = $('.activity-button')
        var $newActivityBtn = $('.new-activity-button')
    // activity show stuff
        // activity detail click function
        $activityButton.on('click', function() {
            var activityId = $(this).attr('id')
            console.log($(this).attr('id'))
            // show modal on click
            $('#activityModal').modal()
            // use ajax to populate the modal with data from the route specified
            $.ajax({
                // create url by concatenating activityId 
                url: '/trips/<%= trip._id %>/activities/' + activityId,
                method: 'get'
            })
            .done((res) => { 
                $('#activityPlace').text('Place: ' + res.place)
                $('#activityDate').text('Date: ' + res.date)
                $('#activityTime').text('Time: ' + res.time)
                $('#activityDescription').text('Description: ' + res.description)
            })
        })
        
// MANUAL ADD ACTIVITY
    $newActivityBtn.on('click', function() {
        $('#newActivityModal').modal()
    })
    var $newActivityForm = $('#new-activity-form')
    $newActivityForm.on('submit', (evt) => {
        evt.preventDefault()
    var formData = {
        "place": $('input[name=place]').val(),
        "date": $('input[name=date]').val(),
        "time": $('input[name=time]').val(),
        "description": $('input[name=description]').val()
    }
    $.ajax({
        url: '/trips/<%= trip._id %>/activity',
        method: 'POST',
        data: JSON.stringify(formData),
        contentType: 'application/json'
    })
    .done((data) => {
        console.log(data)
        $('#newActivityModal').modal('hide')
    })
})

// YELP ADD ACTIVITY
 // ajax get request for search should be a concatenated string:
 // "/search?term=" + term + "&location=" + location
    
    //var activitiesList
    
    var $yelpActivityBtn = $('#new-activity-yelp')
    var $yelpActivityForm = $('#yelp-activity-form')
    var $searchRes = $('#search-res')

    $yelpActivityBtn.on('click', function() {
        //window.location = '/trips'
        $('#yelpActivityModal').modal()
    })

    $yelpActivityForm.on('submit', (evt) => {
        console.log('clicked submit')
        evt.preventDefault()
        var formData = {
            "term": $('input[name=term]').val(),
            "location": $('input[name=location]').val(),
        }
        console.log(formData)
        var term = formData.term
        var location = formData.location
        $.ajax({
            url: `/search?term=${term}&location=${location}`,
            method: 'GET',
            data: JSON.stringify(formData),
            contentType: 'application/json'
        })
        .done((res) => {
            populate(res)
            //console.log(data)
            //$('#yelpActivityModal').modal('hide')

        })
    })

    function populate(items) {
        console.log(items)
        items.forEach((item, i) => {
            var theLi = $('<li>').text(item.name)
            var innerUl = $('<ul>')
            var innerLiPrice = $('<li>').text(item.price)
            var innerLiAddress = $('<li>').text(item.location.address1 + ", " + item.location.city + " " + item.location.zip_code)
            innerUl.append(innerLiPrice, innerLiAddress)
            theLi.append(innerUl)
            $searchRes.append(theLi)
        })
    }



</script>

