
<div class='container trip-page'>
    
    <div class='row'>
        <div class='col-8'>
            <h1><%= trip.name %></h1>
        </div>

        <div class='col-4'>
            <button class='new-activity-button'>
                <h3>Add Activity</h3>                
            </button>
        </div>
    </div>
    <!-- need to change the below section to be a div for each DAY
    In that day we want to see the name of each activity with the time (as list items)
    And a button that displays a modal of the activity details on click -->
    <div class='row day'>
        
        <% activities.forEach(function(a) { %>
            <div class='col-12'>
                    <h3><%= a.date %></h3>
                </div>
            <div class='row activities'>
                <div class='col-4 activity-name'>
                    <h6><%= a.place %></h6>
                </div>
                <div class='col-4 activity-time'>
                    <h6><%= a.time %></h6>
                </div>
                <div class='col-2'>

                </div>
                <div class='col-1 activity-button'>
                    <button>
                        See Details
                    </button>
                </div>
            </div>
        <% }) %>
        
        <!-- <%// }) %>  -->
    </div>
    <form action="/users/profile/edit">
        <button type="submit" id="update">Edit Profile</button>
    </form>	
</div>

<div class="modal fade" id="newActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        
        
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form id="new-activity-form">
                        <div class="form-group">
                          <label for="name">Place</label>
                          <input type="text" class="form-control" name="place">
                      </div>
                        <div class="form-group">
                          <label for="length">Date</label>
                          <input type="number" class="form-control" name="date">
                      </div>
                        <div class="form-group">
                          <label for="local">Time</label>
                          <input type="text" class="form-control" name="time">
                      </div>
                        <div class="form-group">
                          <label for="description">Description</label>
                          <input type="textarea" class="form-control" name="description">
                      </div>
                      <button id="add-activity" type="submit" class="btn btn-primary">Add Activity</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        
              ajax request submit button posts new activity to trip show view
        
              <script>

                var $newActivityBtn = $('.new-activity-button')
                $newActivityBtn.on('click', function() {
                    $('#newActivityModal').modal()
                })

                  var $newActivityForm = $('#new-activity-form')
                    $newActivityForm.on('submit', (evt) => {
                        evt.preventDefault()
                        var formData = {
                            "place": $('input[name=place').val(),
                            "date": $('input[name=date').val(),
                            "time": $('input[name=time').val(),
                            "description": $('input[name=description').val()
                        }
                        $.ajax({
                            url: '/trips/<%= trip._id %>/activity',
                            method: 'POST',
                            data: JSON.stringify(formData),
                            contentType: 'application/json'
                        })
                        .done((data) => {
                            console.log(data)
                            $('#newActivityModal').modal('hide')

                        })
                      
                      })
                    </script>
    