<div class='container trip-page'>
    <div class='row'>
        <div class='col-6'>
            <h1><%= trip.name %></h1>
            <button><a id="weatherlink" href="/weather/<%= trip.locale %>">Get <%= trip.locale %> Forecast</a></button>
            <h1><%= trip.locale %></h1>
        </div>

       <!-- Determines whether to show Edit/Add buttons (no unless the trip belongs to the current user) -->
        <% if(currentUser) { %>
            <% var currentUserId = currentUser._id.toString() %>
        <% } %>
        <% var tripUserId = trip.user %>
        <% if(loggedIn && currentUserId == tripUserId) { %>
            <% console.log(currentUserId == tripUserId) %>
        <div class='col-2'>
            <a class='btn btn-info' href='/trips/<%= trip._id %>/edit'>Edit Trip</a>
        </div>
        <div class='col-2'>
            <button class='btn btn-primary new-activity-button'>Add Activity</button>
        </div>
        <div class='col-2'>
            <button id="new-activity-yelp" class='btn btn-danger'>Search Yelp</button>
        </div>
        <% } %>
    </div>


    <% for(var i = trip.startDate.valueOf(); i <= trip.endDate.valueOf(); i += 86400000 ) { %> 
        <% x = new Date(i) %>
        <hr>
        <div><h3><%= x.toDateString() %> </h3></div>
        <% activities.forEach(function(a) { %>
            <% aDate = Date.parse(a.date)%>
            <% xDate = x.valueOf() %>
            <!-- <%= aDate == xDate %> -->
            <% if(aDate == xDate) { %>
            <div id='activity-container-<%= a._id %>' class='list-group'>
                <div class="list-group-item">
                    <div class='row activities'>
                        <div class='col-4 activity-time'>
                            <h6 class='activity-time'><%= a.time %></h6>
                        </div>
                        <div class='col-4 activity-name'>
                            <h6 class='activity-place'><%= a.place %></h6>
                        </div>
                        <div class='col-2'>
                            <h6 class='activity-description'><%= a.description %></h6>
                        </div>
                        <div class='col-1'>
                            <button id="<%= a._id %>" class="btn btn-primary activity-button">See Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        <% }) %>
    <% } %> 


    



<!-- MODAL - ADD ACTIVITY --> 
    <div class="modal fade" id="newActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="new-activity-form" action="/trips/<%= trip.id %>/activity" method="POST">
                        <div class="form-group">
                            <label for="name">Place</label>
                            <input type="text" class="form-control place-name" value="" name="place">
                        </div>
                        <div class="form-group" data-provide="datepicker">
                                <label for="date">Date</label>
                                <input type="text" class="form-control" name="date">
                        </div>
                        <div class="form-group">
                            <label for="local">Time</label>
                            <input type="text" class="form-control" name="time">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="textarea" class="form-control" name="description">
                        </div>
                        <button id="add" type="submit" class="btn btn-primary">Add Activity</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


<!-- MODAL - SEARCH YELP -->
    <div class="modal fade" id="yelpActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search for an activity on Yelp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="yelp-activity-form">
                <div class="form-group">
                    <label for="name">Search Term</label>
                    <input type="text" class="form-control term" name="term">
                </div>

                <div class="form-group">
                    <label for="local">Location</label>
                    <input type="text" class="form-control loc" name="location">
                </div>

                <button id="search" type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="results">
                <ul id="search-res"></ul>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

<!-- MODAL - ACTIVITY VIEW -->
    <div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activityModalLabel">Activity Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <section id="activityPlace"> Place: </section>
                    <section id="activityAddress"></section>
                    <div id="map"></div>
                    <section id="activityDate"> Date: </section>
                    <section id="activityTime"> Time: </section>
                    <section id="activityDescription"> Description: </section>
                </div>
                <div class="modal-footer">
                    <% if(currentUser) { %>
                        <% var currentUserId = currentUser._id.toString() %>
                    <% } %>
                    <% var tripUserId = trip.user %>
                    <% if(loggedIn && currentUserId == tripUserId) { %>
                        <% console.log(currentUserId == tripUserId) %>
                        <button type="button" class="btn btn-secondary edit-activity-button" data-dismiss="modal">Edit</button>
                    <% } %>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- EDIT ACTIVITY MODAL --> 
<div class="modal fade" id="editActivityModal" tabindex="-1" role="dialog" aria-labelledby="editActivityModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-activity-form">
                        <div class="form-group">
                            <label for="name">Place</label>
                            <input id="edit-activity-place" type="text" class="form-control" name="place">
                        </div>
                        <div class="form-group" data-provide="datepicker">
                                <label for="date">Date</label>
                                <input id="editActivityDate" type="text" class="form-control" name="date">
                        </div>
                        <div class="form-group">
                            <label for="time">Time</label>
                            <input id="editActivityTime" type="text" class="form-control" name="time">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input id="editActivityDescription" type="textarea" class="form-control" name="description">
                        </div>
                        <button id="edit-activity" type="submit" class="btn btn-info">Edit Activity</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- NEED TO FIND A WAY TO GET THE EXACT ACTIVITY ID AND PUT IT IN THE ROUTE HERE -->
                    <!-- <form method="post" action="/trips/<%= trip._id %>/activities/<%# activity._id %>?_method=DELETE"></form> -->
                        <button id='delete-activity' type="button" class="btn btn-danger delete-activity-button" data-dismiss="modal">Delete Activity</button>
                    <!-- </form> -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>    
        

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqnz4mGqJTVkiDhbWySMVzAUxOM-484WU&callback=initMap">
</script>
<script>
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16
    })
    marker = new google.maps.Marker({
        map: map
    })
    var latitude
    var longitude

    $('#activityModal').on('shown.bs.modal', function() {
        var uluru = {lat: latitude, lng: longitude}
        google.maps.event.trigger(map, 'resize')
        marker.setPosition(uluru)
        map.setCenter(uluru)
    })


    var weather = $('#weather') 
    weather.on('click', function(e) {
    e.preventDefault()
    var locale = trip.locale
    $.ajax({
        url: `/weather/${locale}`,
        method: 'get'
    })
    .done((res) => {
        redirect('/weather', res)
        })
    })


var globalActivityId
// DATEPICKER
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    })


// ACTIVITY VIEW
    // variable set
        var $activityButton = $('.activity-button')
        var $newActivityBtn = $('.new-activity-button')
    // activity show stuff
        // activity detail click function
        $activityButton.on('click', function() {
            
            var activityId = $(this).attr('id')
            console.log($(this).attr('id'))
            // show modal on click
            $('#activityModal').modal()
            // use ajax to populate the modal with data from the route specified
            $.ajax({
                // create url by concatenating activityId 
                url: '/trips/<%= trip._id %>/activities/' + activityId,
                method: 'get'
            })
            .done((res) => { 
                $('#activityPlace').text('Place: ' + res.place)
                $('#activityAddress').text('Address:' + res.address)
                $('#activityDate').text('Date: ' + res.date)
                $('#activityTime').text('Time: ' + res.time)
                $('#activityDescription').text('Description: ' + res.description)
                $('#edit-activity-place').val(res.place)
                $('#editActivityDate').val(res.date)
                $('#editActivityTime').val(res.time)
                $('#editActivityDescription').val(res.description)
                var addy = res.address
                                
                geocoder = new google.maps.Geocoder()
                if(geocoder) {
                    geocoder.geocode({
                        'address': addy
                    }, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            address = results[0]
                            //console.log(address)
                            latitude = address.geometry.location.lat()
                            longitude = address.geometry.location.lng()
                            //console.log(latitude, longitude)
                        }
                        $('#activityModal').modal()
                    })
                }

                globalActivityId = activityId
            })
        })

//EDIT ACTIVITY VIEW
    // variable set
    var $editActivityBtn = $('.edit-activity-button')
    $editActivityBtn.on('click', function() {
        $('#editActivityModal').modal()
    })
    
    var $editActivityForm = $('#edit-activity-form')
    $editActivityForm.on('submit', (evt) => {
        evt.preventDefault()
        var editFormData = {
                "place": $('#edit-activity-form input[name=place]').val(),
                "date": $('#edit-activity-form input[name=date]').val(),
                "time": $('#edit-activity-form input[name=time]').val(),
                "description": $('#edit-activity-form input[name=description]').val()
        }
        var reqUrl =  '/trips/<%= trip._id %>/activities/' + globalActivityId
        console.log(reqUrl)
        $.ajax({
            url: reqUrl,
            method: 'PATCH',
            data: JSON.stringify(editFormData),
            contentType: 'application/json'
        })
        .done((res) => {
            console.log(res)
            $('#editActivityModal').modal('hide')
            console.log($('#activity-container-' + res._id).find('.activity-place'))
            console.log(res.place)
            $('#activity-container-' + res._id).find('.activity-place').text(res.place)
            $('#activity-container-' + res._id).find('.activity-date').text(res.date)
            $('#activity-container-' + res._id).find('.activity-time').text(res.time)
            $('#activity-container-' + res._id).find('.activity-description').text(res.description)
            location.reload();
        })
})

// Delete Activity
    // variable set
    var $activityButton = $('.activity-button')
    console.log(globalActivityId)
    var $deleteActivityBtn = $('.delete-activity-button')
    // activity detail click function
    $deleteActivityBtn.on('click', function() {
        // use ajax to populate the modal with data from the route specified
        $.ajax({
            // create url by concatenating globalActivityId 
            url: '/trips/<%= trip._id %>/activities/' + globalActivityId,
            method: 'delete'
        })
        .done((res) => { 
            //reload the page
            location.reload();
        })
    })
        
// ADD ACTIVITY
    var $newActivityForm = $('#new-activity-form')

    $newActivityBtn.on('click', function() {
        $('#newActivityModal').modal()
    })

    $('#add').on('submit', (evt) => {
        console.log('you clicked')
        var formData = {
            "place": $('input[name=place]').val(),
            "date": $('input[name=date]').val(),
            "time": $('input[name=time]').val(),
            "description": $('input[name=description]').val()
        }
        $.ajax({
            url: '/trips/<%= trip._id %>/activity',
            method: 'POST',
            data: JSON.stringify(formData),
            contentType: 'application/json',
        })
        .done((data) => {
            console.log(data)
            $('#newActivityModal').modal('hide')
        })
        evt.preventDefault()
    })

// SEARCH YELP
    var $yelpActivityBtn = $('#new-activity-yelp')
    var $yelpActivityForm = $('#yelp-activity-form')
    var $searchRes = $('#search-res')
    var $loc = $('.loc')
    var $term = $('.term')

    $yelpActivityBtn.on('click', function() {
        $('#yelpActivityModal').modal()
        $searchRes.html('')
        $loc.val('')
        $term.val('')
    })

    $yelpActivityForm.on('submit', (evt) => {
        console.log('clicked submit')
        console.log($('select[name=sort_by]'))
        evt.preventDefault()
        var formData = {
            "term": $('input[name=term]').val(),
            "location": $('input[name=location]').val(),
            "limit": 5,
        }
        console.log(formData)
        var term = formData.term
        var location = formData.location
        var limit = formData.limit
        $.ajax({
            url: `/search?term=${term}&location=${location}&limit=${limit}`,
            method: 'GET',
            data: JSON.stringify(formData),
            contentType: 'application/json'
        })
        .done((res) => {
            populate(res)
            console.log(res)
        })
    })

    function populate(items) {
        //console.log(items)
        $searchRes.text('')
        items.slice(0, 5).forEach((item, i) => {
            var card = $('<div>').addClass('card card-width').css("style", "width: 20rem;")
            var img = $('<img>').addClass('card-img-top').attr("src", item.image_url)
            var cardBody = $('<div>').addClass('card-body')
            var h4 = $('<h4>').addClass('card-title').text(item.name)
            var ul = $('<ul>')
            var liRating = $('<li>').text("Rating: " + item.rating)
            var liDistance = $('<li>').text("Distance away: " + (item.distance * 0.000621371192).toFixed(2) + " mi")
            var liAddress = $('<li>').text("Address: " + item.location.address1 + ", " + item.location.city + " " + item.location.zip_code)
            var liSeeMore = $('<li>')
            var yelpButton = $('<a>').attr("href", item.url).text('See More on Yelp')
            var selectButton = $('<button>').addClass('select-button').text("Select")
            var itemPrice = item.price
            var liPrice = checkPrice(itemPrice)
            liSeeMore.append(yelpButton)                    
            ul.append(liRating, liDistance, liAddress, liPrice, liSeeMore)
            cardBody.append(h4, selectButton, ul)
            card.append(img, cardBody)
            $searchRes.append(card)
            function checkPrice(itemPrice) {
                if(item.price) {
                    return $('<li>').text("Price: " + item.price)   
                }
            }
        })
    }
    
    $('body').on('click', '.select-button', function() {
        var item = $(this).prev()
        selectedPlace = item.text()
        console.log(selectedPlace)
        checkPlace(selectedPlace)
        $('#yelpActivityModal').modal('hide')   
        $('#newActivityModal').modal()
    })


    var $nameInput = $('.place-name')
    function checkPlace(selectedPlace) {
        if(selectedPlace != '') {
            console.log(selectedPlace)
            console.log($nameInput)
            $nameInput.val(selectedPlace)
        }
    }
    

// LOOP



</script>